#main-blog {
    background-color: rgb(235, 235, 235);
    padding-top: 100px;
    padding-bottom: 100px;
}

#main-blog h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
}

/* Recent Posts */
#recent-posts {
    padding-top: 50px;
    padding-bottom:50px;
    background-color: rgb(245, 252, 251);
}

.post-container .featured-image {
    position: relative;
}

.post-container .featured-image img {
    width: 100%;
}

.featured-image figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.featured-image figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 115%;
		height: 130%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 115%;
		height: 130%;
		opacity: 0;
	}
}

.post-container .featured-image .post-cat {
    position: absolute;
    bottom: 10px;
    margin: 0;
    right: 10px;
    color: #ffffff;
    font-size: 12px;
    background-color: #11b3b8;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.post-meta {
    font-size: 12px;
    color: rgb(137, 141, 141);
    font-style: italic;
}

.post-title h3 a {
    text-decoration: none;
    color: #2c2d2e;
    font-size: 23px;
}

.post-title h3 a:hover {
    color: #11b3b8;
}
